cn001.l42scl.hortonworks.com ansible_ssh_host=172.18.128.1 #ip=172.18.0.1
cn002.l42scl.hortonworks.com ansible_ssh_host=172.18.128.2 #ip=172.18.0.2
cn003.l42scl.hortonworks.com ansible_ssh_host=172.18.128.3 #ip=172.18.0.3
cn004.l42scl.hortonworks.com ansible_ssh_host=172.18.128.4 #ip=172.18.0.4

[kube-master]
cn002.l42scl.hortonworks.com

[etcd]
cn002.l42scl.hortonworks.com
cn003.l42scl.hortonworks.com
cn004.l42scl.hortonworks.com

[kube-node]
cn001.l42scl.hortonworks.com
cn003.l42scl.hortonworks.com
cn004.l42scl.hortonworks.com

[k8s-cluster:children]
kube-node
kube-master